body{
  background: black;
}

h1{
  font-size: 60px;
  text-align: center;
  color: #8b0000;
}

hr{
  height: 8px;
  background-color: darkGray;
  background-image: linear-gradient(90deg, darkGreen, transparent);
  
  border: 0;
  height: 5px;
}

p{
  color: gold;
  font-size: 25px;
}

h6{
  color: grey;
  font-size: 20px;
}

h5{
  color: white;
}

img{
  display:inline-block;
  height: 150px;
  padding: 30px;
}